<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>welcome {{name}}</h1>

<ul>
    {%if allCups%}

        {%for cup in allCups%}
        <li>{{cup.name}} is {{cup.material}}</li>
        {%endfor%}
    {%else%}
    <p>Beep Boop Beep error</p>
    {%endif%}
</ul>


    {%if newCups%}
    <ul>
        {%for cup in newCups%}
        <li>{{cup.name}} was made {{cup.manufactuerDate}}</li>
        {%endfor%}
    </ul>
    {%else%}
    <p>wrrrrr vrrrrr wARrrr malfunction</p>
    {%endif%}


</body>
</html>